# Copy this file as .pyfunceble/.pyfunceble-env and fill out the fields
PYFUNCEBLE_DB_CHARSET=utf8mb4
PYFUNCEBLE_DB_HOST=
PYFUNCEBLE_DB_NAME=
PYFUNCEBLE_DB_PASSWORD=''
PYFUNCEBLE_DB_PORT=
PYFUNCEBLE_DB_USERNAME=
PYFUNCEBLE_OUTPUT_LOCATION=
PYFUNCEBLE_PLATFORM_API_URL=https://api.beta.dead-hosts.com
PYFUNCEBLE_PLATFORM_API_TOKEN=""
PYFUNCEBLE_AUTO_CONFIGURATION=yes
PYFUNCEBLE_PLATFORM_CHECKER_EXCLUDE=
